<!DOCTYPE html>
<html>
    <head>

    </head>
    
    <body>
    <a href="/logout">ログアウトする</a>
    <div>{{name}}でログインなう</div>

    <a href="/">ホーム</a>
    <a href="/mypage">マイページ</a>    

    {# タイムライン #}
    <div style="margin: 3em; border: 1px solid #000">
        {# フィルタリング #}
        <form action="/filter_team" method="post">
            <input type="text" name="filter_team">
            <button type="submit">チームをフィルタリング</button>
        </form>
        {# 一覧表示 #}
        {% for task in all_tasks %}
        <div>
            {{task.content}}: {{task.detail}}
        </div>
        {% endfor %}
    </div>
    </body>
</html>