<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Toppage</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--==============レイアウトを制御する独自のCSSを読み込み===============-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" href=" ./static/css/home.css">
    </head>

    <header>
        <ul class="header_wrapper">
            <a href="/">ホーム</a>
            <a href="/mypage">マイページ</a>
            <a href="/logout">ログアウトする</a>
        </ul>
        <div class="account_name">{{name}}でログイン中</div>
      </header>
    
    <body> 
    <!-- スライドショーとTLを横並びにする -->
    <div class="home-flex">
        <!-- スライドショー -->
        <div class="section-slider">
            <div class="slider">
                <img class="slider-item" src="./static/img/menter1.jpg" alt="">
                <img class="slider-item" src="./static/img/menter2.jpg" alt="">
                <img class="slider-item" src="./static/img/menter3.jpg" alt="">
                <img class="slider-item" src="./static/img/menter4.jpg" alt="">
            </div>
        </div>
        <!--  TL -->
        <div class="section-timeline">
            <div class="tweet-container">
                <div class="tweet-box">
                    <img class="icon-person" src="./static/img/icon-person.png" alt="">
                    <p class="time">time</p>
                    <p class="name">name</p>
                    <p class="detail">task-detail</p>
                    <img class="done-rebbon" src="./static/img/done-rebbon.png" alt="">
                </div>
            </div>
        </div>
    </div>


    {# タイムライン #}
    <div style="margin: 3em; border: 1px solid #000">
        {# フィルタリング #}
        <form action="/filter_team" method="post">
            <input type="text" name="filter_team">
            <button type="submit">チームをフィルタリング</button>
        </form>
        {# 一覧表示 #}
        {% for task in all_tasks %}
        <div>
            {{task.user_name}}: {{task.content}}: {{task.detail}}: {{task.done_datetime}}
        </div>
        {% endfor %}
    </div>

    <!--  スライドショーのjs -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="./js/slider.js"></script>
    <script src="./js/style.js"></script>

    </body>
</html>